{% extends 'base_plataforma.html' %}

{% load static %}

{% block 'plataforma' %}

<div class="container rounded shadow mt-4 pb-4" style="width: 50vw; height: auto;">

    <div class="container text-center pt-2">
        <h3>Editar Paciente</h3>
        <hr>
    </div>

    <form action="{% url 'editar_paciente' paciente.id %}" method="post">
        {% csrf_token %}
        {{form.as_p}}

        <input type="submit" class="btn btn-outline-success w-100" value="Atualizar">
    </form>
</div>

{% endblock %}

